---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 08 2025')}
	heroImage="/Root-Write/blog-placeholder-about.jpg">
	<p>
	Hey there! I’m Daniel Melo, a <b>Computer Science student</b> passionate about <b>cybersecurity</b>, open-source tech, learning, and <b>cyber intelligence</b>. I’m currently studying at the National University of Colombia.
	If you’ve got any questions or just want to connect, feel free to reach out!
	</p>
	<div style="display: flex; justify-content: center;">
  		<img src="/Root-Write/uqbar.png" />
	</div>
	<p>
	I’m part of <b>Uqbar</b>, a cybersecurity research group at UNAL, where I help out with talks, support others, and organize events.
	<p>

	<p> Lately, I’ve been diving into fog computing and exploring malware development</p>
	</p>

</Layout>
